<div class="header-v5 header-static">
    <!-- Topbar v3 -->
    <div class="topbar-v3">
        <div class="search-open">
            <div class="container">
                <input type="text" class="form-control" placeholder="Search">
                <div class="search-close"><i class="icon-close"></i></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                
                <div class="col-sm-6">
                    <ul class="list-inline right-topbar pull-right">
                        <li></li>
                        
                    </ul>
                </div>
            </div>
        </div><!--/container-->
    </div>
    <!-- End Topbar v3 -->
    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/index">
                    <img id="logo-header" src="/Content/img/logo.png" alt="Logo">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <!-- Nav Menu -->
                <ul class="nav navbar-nav">
                    <!-- Nuestra empresa -->
                    <li class="active">
                        <a href="/Home/index" class="dropdown-toggle">
                            Inicio
                        </a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>
                    <!-- End Nuestra empresa -->
                    <!-- Nuestra empresa -->
                    <li class="dropdown">
                        <a href="/Empresa/Nuestra_Empresa" class="dropdown-toggle">
                            Nuestra empresa
                        </a>
                        <ul class="dropdown-menu">
                            @*<li class="active"><a href="index.html">Shop UI</a></li>
                            <li><a href="shop-ui-inner.html">Product Page</a></li>*@
                        </ul>
                    </li>
                    <!-- End Nuestra empresa -->
                    <!-- Productos -->
                    <li class="dropdown">
                        <a href="/Productos/Index" class="dropdown-toggle">
                            Productos
                        </a>
                        <ul class="dropdown-menu">
                            @*<li class="active"><a href="index.html">Shop UI</a></li>
                              <li><a href="shop-ui-inner.html">Product Page</a></li>*@
                        </ul>
                    </li>
                    <!-- End Productos -->   
                    <!-- Contacto -->
                    <li class="dropdown">
                        <a href="/Empresa/Contacto" class="dropdown-toggle">
                            Contacto
                        </a>
                        <ul class="dropdown-menu">
                            @*<li class="active"><a href="index.html">Shop UI</a></li>
                                <li><a href="shop-ui-inner.html">Product Page</a></li>*@
                        </ul>
                    </li>
                    <!-- End Contacto -->                    
                </ul>
                <!-- End Nav Menu -->
            </div>
        </div>
    </div>
    <!-- End Navbar -->
</div>