<!--=== Footer v4 ===-->
<div class="footer-v4">
    <div class="footer">
        <div class="text-center container">
                
                <a href="index.html"><img class="footer-logo" src="/Content/img/logo-2.png" alt=""></a>
            <p>
                2016 &copy; <a href="http://www.making-soft.com.ar">MakingSoft</a> - Todos los derechos reservados.
            </p>
        </div>
    </div><!--/footer-->
</div>
<!--=== End Footer v4 ===-->
