@{
    ViewBag.Title = "Contacto";
}
<!--=== Breadcrumbs v4 ===-->
<div class="breadcrumbs-v4">
    <div class="container">
        <span class="page-name">Productos por categoria</span>
        <h1>Mira nuestros<span class="shop-green"> Productos</span> </h1>
        <ul class="breadcrumb-v4-in">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="">Productos</a></li>
            <li class="active">Productos Filtrados</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs v4 ===-->
	<!--=== Breadcrumbs ===-->
@*<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Contactanos</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Pages</a></li>
            <li class="active">Contacts</li>
        </ul>
    </div>
</div>*@<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row margin-bottom-30">
        <div class="col-md-9 mb-margin-bottom-30">
            <p>Cualquier consulta acerca de nuestros productos</p><br>
            <form action="/Empresa/Contacto" method="post" id="sky-form3" class="sky-form contact-style">
                @*<fieldset class="no-padding">*@
                <label class="h4">Nombre <span class="color-red">*</span></label>
                <div class="row sky-space-20">
                    <div class="col-md-7 col-md-offset-0">
                        <div>
                            <input type="text" name="nombre" id="nombre" class="form-control" required>
                        </div>
                    </div>
                </div>
                <label class="h4">Email <span class="color-red">*</span></label>
                <div class="row sky-space-20">
                    <div class="col-md-7 col-md-offset-0">
                        <div>
                            <input type="text" name="email" id="email" class="form-control" required>
                        </div>
                    </div>
                </div>
                <label class="h4">Teléfono <span class="color-red"></span></label>
                <div class="row sky-space-20">
                    <div class="col-md-7 col-md-offset-0">
                        <div>
                            <input type="text" name="telefono" id="telefono" class="form-control">
                        </div>
                    </div>
                </div>
                <label class="h4">Consulta <span class="color-red">*</span></label>
                <div class="row sky-space-20">
                    <div class="col-md-11 col-md-offset-0">
                        <div>
                            <textarea rows="8" name="consulta" id="consulta" class="form-control" required></textarea>
                        </div>
                    </div>
                </div>
                <br />
                <p><button type="submit" class="btn-u" style="right:0px;">Enviar</button></p>
                @*</fieldset>*@
               
            </form>
        </div><!--/col-md-9-->
        <div class="col-md-3">
            <!-- Google Map -->
            <div id="map" class="map map-box map-box-space1 margin-bottom-40">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1642.0055422162675!2d-58.382648693247454!3d-34.60388121753617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1477772580629" width="260" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div><!---/map-->
            <!-- End Google Map -->
            <!-- Contacts -->
            <div class="headline"><h3>Contacto</h3></div>
            <ul class="list-unstyled who margin-bottom-30 h5">
                <li><a href="#"><i class="fa fa-home"></i>5B Streat, City 50987 New Town US</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i>info@example.com</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>
                <li><a href="#"><i class="fa fa-globe"></i>http://www.example.com</a></li>
            </ul>
            <!-- End Contacts -->
            <!-- Business Hours -->
            <div class="headline"><h3>Horarios de Atención</h3></div>
            <ul class="list-unstyled margin-bottom-30 h5">
                <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                <li><strong>Saturday:</strong> 11am to 3pm</li>
                <li><strong>Sunday:</strong> Closed</li>
            </ul>
            <!-- End Business Hours -->
        </div><!--/col-md-3-->
    </div><!--/row-->
</div>