@{
    ViewBag.Title = "Nuestra Empresa";
}
<!--=== Breadcrumbs v4 ===-->
<div class="breadcrumbs-v4">
    <div class="container">
        <span class="page-name"></span>
        <h1>Iluminamos<span class="shop-green"> tu hogar</span> </h1>
        <ul class="breadcrumb-v4-in">
            @*<li><a href="index.html">Inicio</a></li>
            <li><a href="">Productos</a></li>
            <li class="active">Productos Filtrados</li>*@
        </ul>
    </div><!--/end container-->
</div>
<!--=== End Breadcrumbs v4 ===-->
<!--=== Parallax About Block ===-->
<div class="parallax-bg parallaxBg1">
    <div class="container content parallax-about">       
        <div class="row">
            <div class="col-md-6">
                <div class="banner-info dark margin-bottom-10">
                    @*<i class="rounded-x icon-lamp"></i>*@
                    <div class="overflow-h">
                        <h3>Nuestra Empresa</h3>
                        <p>Más de 30 años fabricando artículos de iluminación. Como Industria Nacional estamos convencidos de ofrecer a nuestra distinguida clientela el mejor servicio y la más amplia gama de productos para la iluminación en la que se combinan materiales como el hierro, el níquel, la madera y el cuero. Incorporando las nuevas tendencias de mercado combinando calidad, funcionabilidad y estética ya que la iluminación es la clave en la ambientación de un espacio, aporta volumen, aviva los colores y genera matices, brindando un mayor confort visual a cada ambiente.</p>
                    </div>
                </div>
                @*<div class="banner-info dark margin-bottom-10">
                    <i class="rounded-x fa fa-magic"></i>
                    <div class="overflow-h">
                        <h3>Our vision</h3>
                        <p>Phasellus vitae rhoncus ipsum. Aliquam ultricies, velit sit amet scelerisque tincidunt, dolor neque consequat est, a dictum felis metus eget nulla.</p>
                    </div>
                </div>
                <div class="banner-info dark margin-bottom-10">
                    <i class="rounded-x fa fa-thumbs-o-up"></i>
                    <div class="overflow-h">
                        <h3>We are good at ...</h3>
                        <p>Nunc ac ligula ut diam rutrum porttitor. Integer et neque at lacus placerat pretium eu ac dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                    </div>
                </div>*@
                <div class="margin-bottom-20"></div>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="~/Content/img/logo_grande.png" alt="">
            </div>
        </div>
        <!--=== Sponsors ===-->
        <div class="container content">
            <div class="heading heading-v1 margin-bottom-40">
                <h></h>
                <p></p>
            </div>
            <ul class="list-inline owl-slider-v2">
                <li class="item first-child">
                    <img src="~/Content/img/Productos/100.png" />
                </li>
                <li class="item">
                    <img src="~/Content/img/Productos/2018.png" />
                </li>
                <li class="item">
                    <img src="~/Content/img/Productos/4671.png" />
                </li>
                <li class="item">
                    <img src="~/Content/img/Productos/6033.png" />
                </li>
                <li class="item">
                    <img src="~/Content/img/Productos/6049.png" />
                </li>
                <li class="item">
                    <img src="~/Content/img/Productos/6176.png" />
                </li>
                <li class="item">
                    <img src="~/Content/img/Productos/6160.png" />
                </li>
                <li class="item">
                    <img src="~/Content/img/Productos/6043L4.png" />
                </li>
                <li class="item">
                    <img src="~/Content/img/Productos/6075.png" />
                </li>
                <li class="item">
                    <img src="~/Content/img/Productos/6263.png" />
                </li>
                <li class="item">
                    <img src="~/Content/img/Productos/6292.png" />
                </li>
                <li class="item">
                    <img src="~/Content/img/Productos/6301.png" />
                </li>
            </ul><!--/end owl-carousel-->
        </div>
        <!--=== End Sponsors ===-->
    </div><!--/container-->
</div>
<!--=== End Parallax About Block ===-->
